@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #F9F9F9;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #F9F9F9;
}

h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 175%;
  color: #E6E6FF;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #F9F9F9;
}

h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #D6D6D6;
}
p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 175%;
  color: #E6E6FF;
}

.navbar {
  margin-top:50px;
  padding: 0;
}

.navbar-dark {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #F9F9F9;
  transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link {
  color: #F9F9F9;
}

.nav-link {
  text-align: right;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #BFBFD8;
}

.works-click {
  transition: 0.5s;
}

.works-click:hover {
  transform: scale(1.02);
}

.row {
  display: flex;
  justify-content: space-between;
}

.container-header {
  max-width: 1230px;
}

/* small */
@media (min-width: 576px) { ... }

/* medium */
@media (min-width: 768px) { ... }

/* large*/
@media (min-width: 992px) { ... }

/* xl */
@media (max-width: 1200px) { ... }
