@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #F9F9F9;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #F9F9F9;
}

h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 200%;
  color: #E6E6FF;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #F9F9F9;
}

h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #D6D6D6;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  color: #E6E6FF;
}
p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
  color: #E6E6FF;
}

label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: #F9F9F9;

}

.anim-header {
  animation: fadeIn 2s, translate 0.75s;
}

.anim-body {
  animation: fadeIn 2s, translate-body 1s;
}

.navbar {
  margin-top:50px;
  padding: 0;
}

.navbar-dark {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #F9F9F9;
  transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link {
  color: #F9F9F9;
}

.nav-link {
  text-align: right;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #BFBFD8;
  transform: scale(1.05);
}

.navbar-dark .navbar-nav .nav-link {
  transition: 0.3s;
}

.works-click {
  transition: 0.5s;
}

.works-click:hover {
  transform: scale(1.02);
}

.row {
  display: flex;
  justify-content: space-between;
}

.container-header {
  max-width: 1230px;
}

.form-width {
  max-width: 720px;
}

.form-control::-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #BCBCC6;
}

.form-control-lg {
  height: calc(2em + 1rem + 2px);
  padding: 1rem 1rem;
}

.btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #F9F9F9;
  padding: .75rem 1.75rem;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.03);
  background-color: #1C1C28;
  border-color: #E6E6FF;
  color: #E6E6FF;
}

.btn-primary {
  background-color: #1C1C28;
  border-color: #F9F9F9;
}

.form-control {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
}

.navbar-brand {
  transition: 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.05);
}

@-webkit-keyframes "fadeIn" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes "translate" {
  0% {transform: translateY(-30px)}
  100% {transform: translateY(0)}
}

@-webkit-keyframes "translate-body" {
  0% {transform: translateY(30px)}
  100% {transform: translateY(0)}
}

/* small */
@media (min-width: 576px) { ... }

/* medium */
@media (min-width: 768px) { ... }

/* large*/
@media (min-width: 992px) { ... }

/* xl */
@media (max-width: 1200px) { ... }
